.Title{
    text-align: center;
}

.Title-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8%;
}

.site-name{
    font-size: 50px;
    color: #504884;
}

.intro{
    padding-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    font-size: large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}