.player {
    /* display: block; */
    /* align-items: center; */
    /* when sample button clicked, remove margin left */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* width: 40%; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.player-buttons {
    text-align: center;
    font-size: 3em;
}

.back-button {
    margin-right: 40px; 
    cursor: pointer;
}

.play-button {
    cursor: 'pointer';
}

.forward-button {
    margin-left: 40px; 
    cursor: pointer;
}

.back-button:hover, .play-button:hover, .forward-button:hover {
    font-size: 1.1em;
}