.Title{
    text-align: center;
}

.Title-header{
    /* display: flex; */
    padding-top: 8%;
}

.site-name{
    font-size: 50px;
    color: #504884;
}

.Title-header p{
    padding-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 30em
}